<div class="todo-container">

    <div class="left-todo-container">
        <div class="title">
            <h1>Your <br> Things</h1>
        </div>

        <div class="date">
            <h2>{{now | date}}</h2>
        </div>
    </div>

    <div class="todo-count">

        <div class="count">
            <h1>Private</h1>
            <h1>{{getLengthPriv()}}</h1>
        </div>
        
        
        <div class="count">
            <h1>Bussines</h1>
            <h1>{{getLengthBus()}}</h1>
        </div>

    </div>

</div>


<div  class="add-button">
    <img (click)="setToggle()" src="../assets/add-blue.png"/>
</div>

<div *ngIf="toggle" class="input-container">
    
    <div class="top-banner">
        <img (click)="setToggle()" src="../assets/arrow.png"/>
        <h3>Add new thing</h3>
    </div>

    <div class="settings-img">
        <img src="../assets/edit.png"/>
    </div>

        <div class="inputs">
            <label for="categ">Select Category</label>
            <select [(ngModel)]="category" name="categ" id="categ">
                <option value="Bussines">Bussines</option>
                <option value="Private">Private</option>
            </select>
            <label for="tit">Title</label>

            <input [(ngModel)]="title" id="tit" type="text"/>

            <label for="plc">Place</label>

            <input [(ngModel)]="place" id="plc" type="text"/>
            <button (click)="onAdd(title, place, category)">Add your thing</button>
        </div>

</div>

<div class="inbox">
    <h1>Inbox</h1>
</div>

<div class="todo-posts">
    <app-todo (onEditPost)="editFunc($event)" (onDelete)="deleteFnc($event)" [taskName]="task" *ngFor="let task of tasks"></app-todo>

</div> 
